
.qa_wrapper {
    margin: 0 auto;
    width: 600px;
    height: 100%;
}
.qa {
    max-width: 50%;
    margin: 0rem auto 0.5rem;
}

.qa h1 {
    text-align: center;
}
.qa button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.qa button:hover {
    background-color: antiquewhite;
}

.qa .answer {
    padding: 0.25rem 0.5rem;
    background-color: beige;

}